.ant-layout {
  background: url(../../../images/2.png);
  background-attachment: fixed;
  background-size: cover;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 100vh;
}

.ant-layout .sider_btn {
  text-align: center;
}

.ant-layout .sider_btn span {
  font-size: 18px;
}

.ant-layout .site_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ant-layout .site_info .icon_drawer,
.ant-layout .site_info .avatar {
  width: 50%;
  text-align: left;
}

.ant-layout .site_info .bg_green {
  background-color: #87d068;
  cursor: pointer;
}

.ant-layout .site_info .account {
  color: #ffffff;
  font-weight: bolder;
  margin-left: 5px;
}

.ant-layout .subMenu {
  padding: 10px !important;
}

.ant-layout .subMenu .ant-menu-title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ant-layout .subMenu .bg_green {
  background-color: #87d068;
}

.ant-layout .subMenu .account {
  font-size: 16px;
  color: #ffffff;
  font-weight: bolder;
}

.ant-layout .site_layout {
  padding: 20px;
  overflow: auto;
  background: #dae3d77a;
}

.ant-layout .site_layout .member_chat {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px;
}

.ant-layout .site_layout .member_chat .avatar_img {
  float: left;
  max-width: 32px;
  width: 100%;
  margin-right: 5px;
}

.ant-layout .site_layout .member_chat .message_box {
  background: #ffffff;
  border-radius: 10px;
  padding: 5px 20px;
  display: inline-block;
  max-width: 80%;
}

.ant-layout .site_layout .member_chat .message_box .ant-image {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.ant-layout .site_layout .member_chat .message_box .images_text {
  max-width: 200px;
  padding: 5px;
  border: 1px solid #00152917;
  border-radius: 5px;
}

.ant-layout .site_layout .member_chat .message_box .message_text {
  width: 100%;
  letter-spacing: 0;
  float: right;
  font-size: 1.1em;
  word-wrap: break-word;
}

.ant-layout .site_layout .member_chat .time {
  font-size: 10px;
  color: gray;
  font-weight: bold;
}

.ant-layout .site_layout .my_chat {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px;
}

.ant-layout .site_layout .my_chat .avatar_img {
  float: right;
  max-width: 32px;
  width: 100%;
  margin-left: 5px;
}

.ant-layout .site_layout .my_chat .message_box {
  background: #ffffff;
  border-radius: 10px;
  padding: 5px 20px;
  display: inline-block;
  max-width: 80%;
}

.ant-layout .site_layout .my_chat .message_box .ant-image {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.ant-layout .site_layout .my_chat .message_box .images_text {
  max-width: 200px;
  padding: 5px;
  border: 1px solid #00152917;
  border-radius: 5px;
}

.ant-layout .site_layout .my_chat .message_box .message_text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.ant-layout .site_layout .my_chat .time {
  font-size: 10px;
  color: gray;
  font-weight: bold;
}

.ant-layout .site_layout .my_chat::after {
  content: '';
  clear: both;
  display: table;
}

.ant-layout .site_layout .box_chat_empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.ant-layout .site_layout .box_chat_empty span {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.603);
  cursor: default;
  font-weight: bold;
}

.ant-layout .site_layout .display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ant-layout .site_layout .bg_green {
  background-color: #87d068;
}

.ant-layout .new_chat {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 13px;
  cursor: pointer;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  max-width: 50px;
  max-height: 50px;
}

.ant-layout .new_chat_animation {
  -webkit-animation-name: new_chat_animation;
  animation-name: new_chat_animation;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.ant-layout .form_chat {
  padding: 20px;
  background: #dae3d77a;
}

.ant-layout .ant-layout-header,
.ant-layout .ant-layout-footer {
  background: #001529;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.ant-layout .ant-layout-header {
  padding-left: 20px;
}

.ant-layout .ant-layout-footer {
  padding: 0 24px 15px 24px;
}

.ant-layout .footer_chatapp {
  padding: 15px 24px 15px 24px;
}

@-webkit-keyframes new_chat_animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes new_chat_animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.ant-layout .site_layout_empty {
  padding: 20px;
  overflow: auto;
  background: #dae3d77a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 20px solid #001529;
}

.ant-layout .site_layout_empty span {
  font-size: 50px;
  color: #e0dcdc;
  cursor: default;
  font-weight: bolder;
}

.ant-upload-list {
  display: none !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #e5ebe73b !important;
}

.site_layout::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.site_layout::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

.images_review {
  overflow: hidden;
  text-align: left;
  max-width: 250px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 5px;
}

.modal_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ant-input-affix-wrapper {
  border-radius: 10px !important;
}

.ant-upload.ant-upload-drag {
  border-radius: 10px !important;
  padding: 5px !important;
  background: none !important;
  border: 1px ridge #98df8a !important;
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: #98df8a !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #98df8a !important;
}

.ant-input-affix-wrapper:focus {
  border-color: #98df8a !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ant-modal-header {
  background: #000b16 !important;
}

.ant-modal-title {
  color: #ffffff !important;
  text-align: center !important;
}

.ant-modal-body {
  background: #dae3d77a !important;
}

.ant-modal-footer {
  background: #000b16 !important;
}

.mg-bottom {
  margin-bottom: 10px;
}

.ant-menu-title-content .account,
.ant-menu-title-content .smile_icon {
  margin-left: 5px !important;
}

.ant-drawer-content {
  background: #001529 !important;
}

.ant-drawer-content .ant-menu .ant-menu-root .ant-menu-inline .ant-menu-dark {
  width: 100% !important;
}

.ant-drawer-content .ant-drawer-body {
  padding: 10px !important;
}

.ant-menu-submenu-title {
  font-size: 18px !important;
}

@media (max-width: 540px) {
  .site_layout_empty span {
    font-size: 34px !important;
  }
  .ant-drawer-content-wrapper {
    max-width: 330px !important;
  }
  .ant-layout-footer {
    font-size: 14px !important;
  }
}

@media (max-width: 414px) {
  .site_layout_empty span {
    font-size: 32px !important;
  }
  .ant-drawer-content-wrapper {
    max-width: 320px !important;
  }
  .ant-layout-footer {
    font-size: 13px !important;
  }
}

@media (max-width: 375px) {
  .site_layout_empty span {
    font-size: 30px !important;
  }
  .ant-drawer-content-wrapper {
    max-width: 300px !important;
  }
  .ant-layout-footer {
    font-size: 12px !important;
  }
}

@media (max-width: 320px) {
  .ant-modal {
    max-width: calc(100vw - 60px) !important;
  }
  .ant-modal .ant-modal-header {
    padding: 6px 4px !important;
  }
  .ant-modal .ant-modal-header .ant-modal-title {
    font-size: 14px !important;
  }
  .ant-modal .modal_avatar .ant-avatar {
    width: 50px !important;
    height: 50px !important;
    line-height: 60px !important;
    margin-bottom: 0 !important;
  }
  .ant-modal .modal_avatar .ant-avatar .ant-avatar-string {
    line-height: unset !important;
  }
  .ant-modal .modal_avatar .ant-btn-circle {
    min-width: 20px !important;
  }
  .ant-modal .modal_avatar .ant-btn-icon-only {
    width: 20px !important;
    height: 20px !important;
  }
  .ant-modal .modal_avatar .ant-btn-icon-only span {
    font-size: 10px !important;
  }
  .ant-modal .ant-modal-body {
    padding: 10px !important;
  }
  .ant-modal .ant-modal-footer {
    padding: 6px 4px !important;
  }
  .ant-modal .ant-modal-footer .ant-btn {
    padding: 0 !important;
    width: 25px !important;
    height: 25px !important;
  }
  .ant-modal .ant-modal-footer span {
    font-size: 7px !important;
  }
  .site_layout_empty span {
    font-size: 25px !important;
  }
  .ant-drawer-content-wrapper {
    max-width: 260px !important;
  }
  .ant-layout-footer {
    font-size: 10px !important;
  }
}

@media (max-width: 280px) {
  .site_layout_empty span {
    font-size: 28px !important;
  }
  .ant-drawer-content-wrapper {
    max-width: 280px !important;
  }
  .ant-layout-footer {
    font-size: 10px !important;
  }
}
/*# sourceMappingURL=chat_app.css.map */
