.ant-layout {
  background: url(../../images/2.png);
  background-attachment: fixed;
  background-size: cover;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 100vh;
}

.ant-layout .sider_btn {
  padding: 10px;
}

.ant-layout .sider_btn .btn_back {
  background-color: #001529;
  color: #ffff;
  outline: none;
}

.ant-layout .sider_btn .btn_back a {
  color: #fff;
  margin-left: 5px;
}

.ant-layout .site_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ant-layout .site_info .avatar {
  margin: 20px 0;
}

.ant-layout .site_info .avatar .bg_green {
  background-color: #87d068;
}

.ant-layout .site_info .avatar .account {
  color: #ffffff;
  font-weight: bolder;
  margin-left: 5px;
}

.ant-layout .subMenu {
  padding: 10px !important;
}

.ant-layout .subMenu .ant-menu-title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ant-layout .subMenu .bg_green {
  background-color: #87d068;
}

.ant-layout .subMenu .account {
  font-size: 13px;
  color: #ffffff;
  font-weight: bolder;
  margin-left: 5px;
}

.ant-layout .site_layout {
  padding: 20px;
  overflow: auto;
  background: #dae3d77a;
}

.ant-layout .site_layout .member_chat {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
}

.ant-layout .site_layout .member_chat .avatar_img {
  float: left;
  max-width: 32px;
  width: 100%;
  margin-right: 5px;
}

.ant-layout .site_layout .member_chat .message_box {
  background: #ffffff;
  border-radius: 10px;
  padding: 5px 20px;
  display: inline-block;
  max-width: 80%;
}

.ant-layout .site_layout .member_chat .message_box .message_text {
  width: 100%;
  letter-spacing: 0;
  float: right;
  font-size: 1.1em;
  word-wrap: break-word;
}

.ant-layout .site_layout .member_chat .time {
  font-size: 10px;
  color: gray;
  font-weight: bold;
}

.ant-layout .site_layout .my_chat {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

.ant-layout .site_layout .my_chat .avatar_img {
  float: right;
  max-width: 32px;
  width: 100%;
  margin-left: 5px;
}

.ant-layout .site_layout .my_chat .message_box {
  background: #ffffff;
  border-radius: 10px;
  padding: 5px 20px;
  display: inline-block;
  max-width: 80%;
}

.ant-layout .site_layout .my_chat .message_box .message_text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.ant-layout .site_layout .my_chat .time {
  font-size: 10px;
  color: gray;
  font-weight: bold;
}

.ant-layout .site_layout .my_chat::after {
  content: "";
  clear: both;
  display: table;
}

.ant-layout .site_layout .box_chat_empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ant-layout .site_layout .box_chat_empty span {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.603);
  cursor: default;
  font-weight: bold;
}

.ant-layout .site_layout .display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ant-layout .site_layout .bg_green {
  background-color: #87d068;
}

.ant-layout .form_chat {
  padding: 20px;
  background: #dae3d77a;
}

.ant-layout .ant-layout-header,
.ant-layout .ant-layout-footer {
  background: #001529;
  text-align: center;
  color: #fff;
}

.ant-layout .site_layout_empty {
  padding: 20px;
  overflow: auto;
  background: #dae3d77a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ant-layout .site_layout_empty span {
  font-size: 50px;
  color: #e0dcdc;
  cursor: default;
  font-weight: bolder;
}

.ant-upload-list {
  display: none !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #e5ebe73b !important;
}

.site_layout::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.site_layout::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

.images_review {
  text-align: left;
  max-width: 250px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
  margin-left: 5px;
}

.ant-input-affix-wrapper {
  border-radius: 10px !important;
}

.ant-upload.ant-upload-drag {
  border-radius: 10px !important;
  padding: 5px !important;
  background: none !important;
  border: 1px ridge #98df8a !important;
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: #98df8a !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #98df8a !important;
}

.ant-input-affix-wrapper:focus {
  border-color: #98df8a !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ant-modal-header {
  background: #000b16 !important;
}

.ant-modal-title {
  color: #ffffff !important;
  text-align: center !important;
}

.ant-modal-body {
  background: #dae3d77a !important;
}

.ant-modal-footer {
  background: #000b16 !important;
}

.mg-bottom {
  margin-bottom: 10px;
}
/*# sourceMappingURL=chat_app.css.map */